{:kotoba.app/id "cloud.itonami.isic-6520", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiahujr5zm457hlxt3j4r4wfxz4p4mtp6qqxsfumkruhf47n6clje4", :kotoba.app/embed-url "ipfs://bafkreiahujr5zm457hlxt3j4r4wfxz4p4mtp6qqxsfumkruhf47n6clje4", :published {:archive "https://kotobase.net/ipfs/bafkreiahujr5zm457hlxt3j4r4wfxz4p4mtp6qqxsfumkruhf47n6clje4", :size 74996, :put-status 201, :get-status 200, :at "2026-08-15T13:34:29.734Z"}}
